body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        to bottom,
        #dcdcdc 50%,
        #e9e9e9 50%
    );
}
.weatherForm{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5rem;
    border: 2px solid hsla(0, 0%, 20%, 0.3);
    border-radius: 10px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: grey;
}
.card{
   padding: 30px;
   min-width: 500px;
   min-height: 5 00px;
   background-color: #f7f7f7;
   border-radius: 50px;
   box-shadow: 0 30px 50px #5553;
   display: flex; 
   box-sizing: border-box;
   flex-direction: column;
   align-items: center;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
